__pycache__/
*.pyc
*.pyo
build/
dist/
Output/
*.spec
private_key.pem
public_key.pem
.env
seriales_validas.txt
anvic_monitor.db*
*.log
*.exp
*.lib
*.pyd
*.c
anvic_master.key
*.enc
*.enc.*
chrome_profile_temp/
chrome_profile_temp2/
*.html
error.png
credenciales.txt
test_*.py
