[Desktop Entry]
Version=1.0
Type=Application
Name=Argos Guard
Comment=Argos Guard Enterprise Client
Exec=/usr/local/bin/argosguard
Icon=argosguard
Terminal=false
Categories=Utility;Security;
StartupWMClass=Argos Guard Enterprise
